:root {
    --text-color: #e9e9e9;
    --secondary-color: rgb(61, 196, 140);
    --link-color: #b74b4b;
    --background-color: #070707;
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Goldman;
}

a {
    text-decoration: none;
}
                                    /* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

nav a {
    color: var(--text-color);
    font-size: 20px;
}

nav .right a {
    padding: 15px;
    font-size: 21px;
    font-weight: 200;
    transition: 0.3s ease;
}

nav .right a:hover {
    color: #bdbdbd;
    text-shadow: 0 0 8px #bdbdbd;
}

nav .right a:last-child {
    background-color: var(--secondary-color);
    margin-right: 50px;
    padding: 6px 12px;
    border-radius: 5px;
    color: black;
    transition: 0.3s ease;
}

nav .right a:last-child:hover {
    box-shadow: 0 0 8px var(--secondary-color);
}

nav .left a {
    margin-left: 50px;
    font-size: 31px;
    font-weight: 400;
    color: var(--secondary-color);
    transition: 0.3s ease;
}

nav .left a:hover {
    transform: scale3d(1.03);
    text-shadow: 0 0 8px var(--secondary-color);
}

                                    /* PROFILE SECTION */

.profile-section {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    align-items: center;
    margin-left: 90px;
    margin-right: 100px;
}

.profile-section .about h2 {
    font-size: 35px;
    padding-bottom: 10px;
}

.profile-section .about h2 span {
    color: var(--secondary-color);
}

.profile-section .about {
    color: var(--text-color);
    max-width: 960px;
}


.profile-section .profile-image img {
    position: relative;
    width: 42vh;
    border-radius: 1000px;
}

.profile-section .links {
    margin-top: 12px;
}

.profile-section .links a {
    display: inline-block;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    padding: 6px 10px;
    margin-right: 12px;
    margin-bottom: 6px;
    border-radius: 6px;
    transition: 0.3s ease;
    cursor: pointer;
}

.profile-section .links a:hover {
    transform: scale3d(1.03);
    background-color: var(--secondary-color);
    color: var(--text-color);
    box-shadow: 0 0 8px var(--secondary-color);
}

/* SKILLS SECTION */

.skill-cells {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.skills-section h2 {
    margin-top: 80px;
    font-size: 35px;
    margin-bottom: 15px;
}

.skills-section h2, .skills-section p {
    text-align: center;
    margin-right: 290px;
    margin-left: 290px;
}

.skill-cells .cell {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 200px;
    border: 1px solid var(--secondary-color);
    padding: 7px 15px;
    border-radius: 6px;
    margin-right: 30px;
    margin-bottom: 9px;
}

.skill-cells .cell span  {
    margin-left: 16px;
}

.skill-cells .cell img {
    width: 3.2vh;
}

/* PROJECTS */

.projects-section h2, .projects-section p {
    text-align: center;
    margin-right: 290px;
    margin-left: 290px;
}

.projects-section h2 {
    margin-top: 170px;
    font-size: 35px;
    margin-bottom: 15px;
}

.projects-section p {
    margin-bottom: 200px;
}


@media (max-width: 1300px) {

    .skill-cells .cell img {
        width: 2.8vh;
}

    .skills-section h2, .skills-section p {
        margin-right: 120px;
        margin-left: 120px;
}

    .projects-section h2, .projects-section p {
        margin-right: 120px;
        margin-left: 120px;
}

    .profile-section .profile-image img {
        width: 30vh;
    }
}

@media (max-width: 1010px) {

    .projects-section h2, .projects-section p {
        margin-right: 30px;
        margin-left: 30px;
}

    .skill-cells .cell img {
        width: 2.4vh;
}
    .skill-cells .cell {
        width: 170px;
    }

    .skills-section h2, .skills-section p {
        margin-right: 30px;
        margin-left: 30px;
}

    .profile-section {
        flex-direction: column-reverse;
    }
} 

@media (max-width: 800px) {

    .projects-section h2, .projects-section p {
        margin-right: 24px;
        margin-left: 24px;
}

    .skill-cells .cell {
        width: 160px;
        margin-right: 17px;
    }

    .skills-section h2, .skills-section p {
        margin-right: 24px;
        margin-left: 24px;
}

    .profile-section {
        margin-left: 24px;
        margin-right: 24px;
    }

    nav .right a span {
        display: none;
    }

    nav .right a {
        padding: 5px;
        font-size: 30px;
    }

    nav .right a:last-child {
        background-color: var(--background-color);
        color: var(--text-color);
    }

}

@media (max-width: 500px) {

    .skill-cells .cell {
        margin-right: 12px;
    }


    nav .right a {
        font-size: 22px;
    }
    nav .left a {
        font-size: 19px;
        margin-left: 10px;
    }
    nav .right a:last-child {
        margin-right: 10px;
    }
    .profile-section .profile-image img {
        width: 24vh;
    }
    .profile-section .about h2 {
        font-size: 28px;
    }
    .profile-section {
        margin-left: 24px;
        margin-right: 10px;
    }
    .profile-section .about .links a {
        margin-right: 2px;
        font-size: 14px;
    }
}